@import 'tailwindcss';
@font-face {
    font-family: 'Karmatic Arcade';
    src: url('/ka1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pixel-font {
    /* Use the exact name from your @font-face */
    font-family: 'Karmatic Arcade' !important;

}